html,body{
    color: white;
    background-color: #21232a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    padding: 70px;
}
button{
    padding: 10px;
    font-size: 1.3rem;
    background-color: #83F8FD;
    font-weight: bold;
    width: 100px;
    height: 100px;
    border-radius: 25px;
    color: gray;
    margin-left: 10px;
}
